
.homePage {
    color: #333333;
    background-color: #FFFFFF;
    width: 100%;
    height: 615px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.scan-button{
    border: black;
    height: 50px;
    width: 50px;
    color: orange;
}

.skuScan{
    padding-top: 50%;
    padding-left: 60%;
}

.skuInput{
    border-color: black;
}

.inputTxtBox{

    width: 310px;
    height: 44px;
    float: left;
    /* margin-top: 4%; */
    /* margin-left: 0%; */
    background-color: #8080800d;
    position: relative;
    border: 1px solid #8080804d;
    font-size: 18px;
    color: darkslategray;
    font-weight: 100;
}

.label{
    font-weight: 100;
    color: #808080b8;
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 30px;
    text-align: center;
}

#scan-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
}

.scan-types-image{
    width: 100%;
    height: 135px;
} 

.rewards-image{
    width: 20%;
    height: auto;
} 

.search-text-box{
    width: 320px;
    height: 40px;
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    border-radius: 1px;
    margin: 0 auto;
}

.hide {
    display: none;
}