
.price-div{
    float: left;
    margin-left: 0;
    border-radius: 2px;
}

.price{
}
.dollarAmount{
    font-weight:bold;
    font-size: 24px;
}

.previousPrice{
    text-decoration: line-through;
    color: #777777;
    margin-top: 4px;
    font-size: 16px;
}

.each{
    font-size: 20px;
}
