
.clearDiv {
  clear: both;
}

.clearDiv3 {
    height: 3px;
  }

.box-shadow{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}
.orderInfo{
    margin-top: 5%;
    margin-left: 3%;
    width: 94%;
}

.inquiryPage {
    color: #333333;
    background-color: #F9F9F9;
    width: 100%;
    /* height: 615px; */
    height: calc(100% - 90px);
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.inquiryBody{
    height: 535px;
    overflow: auto;
    margin-top:0px;
}

.headerTxt{
    float: left;
    width: 40%;
    text-align: center;
    font-size: 18px

}

.barcode{
    width: 24px;
    height: auto;
    margin-left: -6px;
    margin-top: 6px;
}

input.textbox-border {
    border-color: grey;
    width: 100%;
    height: 30px
}