.print-button-search{
    font-size: 20px;
    color: #FFF;
    text-decoration: solid;
    background-color: #f96302;
    border: 1px solid #f96302;
}

.print-button-disabled{
    font-size: 20px;
    color: #666666;
    text-decoration: solid;
    background-color: #e5e5e5;
    border: 1px solid #666666;
}

.orangeColor{
    color: #f96302;
}
#searchbox:focus{
    outline: none;
}

.btnContainer {
    line-height: 38px;
    width: calc(100% - 2px); 
    font-size: 20px; 
}

.printContainer {
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
    /* border: 1px solid red; */
    /* background-color: #f96302;     */
}

.printerInfo {
    background-color: #fff !important;
    display: table;
    width: 100%;
    margin: 5% 0;
}

.printerInfo > * {
    display: table-cell;
}

.fontReduced {
    font-size: 13px;
}

.print-button-enabled{
	color: #F96302;
}


