
.popup{
    width: 335px;
    height: 360px;
    display: none;
    position: relative;
    top: 90px;
    left: 10px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}

.popupCloseButton-icon {
    color: #F96302;
    font-size:32px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2px;
    right: 0px;
    z-index: 1;
}
