.skudepot-font-weight{
    font-weight: 300;
}

.skudepot-font-family{

}

.skudepot-font-color-grey{
    color: #555;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.textbox-border {
    border-color: red;
}

.button_search{
    font-size: 20px;
    border: 1px #CCCCCC;
    background-color: #F9F9F9;
    margin-left: 10px;
    margin-top: 5px;
    text-decoration: solid;
}

.button_disable{
	color: #777777;
}

.button_enable{
	color: #F96302;
}

