#print_button_search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#printer_dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_printer_btn {
    color: #FFF;
    text-decoration: solid;
    background-color: #f96302;
    border: 1px solid #f96302;
    line-height: 38px;
    width: 50%;
    font-size: 20px;
    margin-top: 1em;
}

.printer_label {
    font-weight: bold;
    font-size: 16px;
    padding-left: 5%;
    margin-bottom: 5px;
    margin-top: 30px;
}

.print-header {
    font-weight: 800;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    margin: 20% 0;
}

#print-scan-image{
    display: flex; 
    justify-content: center;
    margin: 10% 0;
}

.printers-page .skuNotFoundDiv {
    top: 0;
}